<ion-view title="mainpage" id="page2">
  <ion-content padding="true" style="background: url(img/C6HqDeuNTrKVtPYcmrzu_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="mainpage-heading4" style="color:#FF5C04;font-weight:300;text-align:center;">Akademia morska w Gdynii</h1>
    <a ui-sref="menuChoice" id="mainpage-button8" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-large button-block icon ion-android-bulb">Zobacz ofertę</a>
    <div>
      <img src="img/rkrrVcwmRZuXUMcHb7Uj_logoAM.gif" style="display: block; width: 80%; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="startquiaz" id="mainpage-button9" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-large button-block icon ion-social-foursquare">Quiz</a>
  </ion-content>
</ion-view>