<ion-view title="menu-choice" id="page5">
  <ion-content padding="true" style="background: url(img/73Nrk7SGQtmhuvQtAwVw_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="menuChoice-heading5" style="color:#FF5C04;font-weight:300;text-align:center;">Wybierz wydział który cie interesuje</h2>
    <a href="http://wm.am.gdynia.pl" href-inappbrowser="_system" id="menuChoice-button10" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block icon ion-android-settings">Wydział mechaniczny</a>
    <a href="http://wn.am.gdynia.pl" href-inappbrowser="_system" id="menuChoice-button11" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block icon ion-ios-navigate">Wydział nawigacyjny</a>
    <a href="http://wpit.am.gdynia.pl" href-inappbrowser="_system" id="menuChoice-button12" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block icon ion-social-codepen">Wydział Towaroznastwa</a>
    <a href="http://we.am.gdynia.pl" href-inappbrowser="_system" id="menuChoice-button13" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block icon ion-merge">Wydział elektryczny</a>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9261.611393910935!2d18.511594!3d54.526392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xed5a46d20ef4a60c!2sAkademia+Morska+w+Gdyni!5e0!3m2!1spl!2spl!4v1480935239415"
      width="100%" height="20%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    <div id="menuChoice-button-bar2" class="button-bar">
      <a ui-sref="mainpage" id="menuChoice-button17" style="font-weight:lighter;font-style:italic;text-align:left;border-radius:20px 20px 20px 20px;" class="button button-energized button-small button-block">Wróć do strony głównej</a>
    </div>
  </ion-content>
</ion-view>