<ion-view title="przegrana" id="page13">
  <ion-content padding="true" style="background: url(img/f9LQ6ysWT8KiB5OVdQVH_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="przegrana-heading9" style="color:#FF5C04;font-weight:300;text-align:center;">Przegrałes !</h1>
    <div>
      <img src="img/XpJHLpORQd6dZ98i0fUi_47lhjd.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="przegrana-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FF5C04;">Zbyt mało wiesz by się tu uczyć :D</p>
    </div>
    <a ui-sref="startquiaz" id="przegrana-button25" style="font-weight:300;font-size:34px;" class="button button-energized button-large button-block button-outline">Zacznij od nowa</a>
    <a ui-sref="mainpage" id="przegrana-button26" style="font-weight:600;" class="button button-energized button-small button-block">Powrót na stronę główną</a>
  </ion-content>
</ion-view>