<ion-view title="pytanie3" id="page14">
  <ion-content padding="true" style="background: url(img/C6HqDeuNTrKVtPYcmrzu_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="pytanie3-heading11" style="color:#FF5C04;font-weight:300;text-align:center;">Pytanie trzecie</h1>
    <div id="pytanie3-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FF5C04;">Kto jest aktualnie rektorem uczelni?</p>
    </div>
    <div>
      <img src="img/QenSxIKfSXWK0w63bEDd_7.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="przegrana" id="pytanie3-button19" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Piotr Przybyłowski</a>
    <a ui-sref="pytanie4" id="pytanie3-button27" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Janusz Zarębski</a>
    <a ui-sref="przegrana" id="pytanie3-button28" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Romuald Cwiniewicz</a>
    <a ui-sref="przegrana" id="pytanie3-button29" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Piotr Jędrzejowicz</a>
  </ion-content>
</ion-view>