<ion-view title="pytanie1" id="page10">
  <ion-content padding="true" style="background: url(img/mzsnkYUSTI6zthlBcdbX_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="pytanie1-heading6" style="color:#FF5C04;font-weight:300;text-align:center;">Pytanie pierwsze</h1>
    <div id="pytanie1-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FF5C04;">Ile okretów szkoleniowych posiada Akademia morska w Gdynii?</p>
    </div>
    <div>
      <img src="img/JadMdokhTKW5fdo0zoEq_DarMlodziezy1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="przegrana" id="pytanie1-button20" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">1</a>
    <a ui-sref="pytanie2" id="pytanie1-button21" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">2</a>
    <a ui-sref="przegrana" id="pytanie1-button22" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">3</a>
    <a ui-sref="przegrana" id="pytanie1-button23" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">4</a>
  </ion-content>
</ion-view>