<ion-view title="pytanie4" id="page15">
  <ion-content padding="true" style="background: url(img/C6HqDeuNTrKVtPYcmrzu_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="pytanie4-heading12" style="color:#FF5C04;font-weight:300;text-align:center;">Pytanie czwarte</h1>
    <div id="pytanie4-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FF5C04;">Na jakiej ulicy znajduę sie kampus Akademi Morskie w Gdynii?</p>
    </div>
    <div>
      <img src="img/k4HdXoFRFK4jqQMzjvUZ_126259-Kierowcy-moga-utknac-w-korku-dojezdzajac-ul-Morska-do-centrum-Gdyni.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="przegrana" id="pytanie4-button30" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Ul. Hutnicza</a>
    <a ui-sref="przegrana" id="pytanie4-button31" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Ul. Wejherowska</a>
    <a ui-sref="pytanie5" id="pytanie4-button32" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Ul. Morska</a>
    <a ui-sref="przegrana" id="pytanie4-button33" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Ul. Towarowa</a>
  </ion-content>
</ion-view>