<ion-view title="pytanie5" id="page16">
  <ion-content padding="true" style="background: url(img/C6HqDeuNTrKVtPYcmrzu_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="pytanie5-heading13" style="color:#FF5C04;font-weight:300;text-align:center;">Pytanie piąte</h1>
    <div id="pytanie5-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FF5C04;">Ile wydziałów ma Akademia Morska w Gdynii?</p>
    </div>
    <div>
      <img src="img/ieubBulFT7Bbm8ldaWbX_akademia_2.png" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="przegrana" id="pytanie5-button34" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">7 wydziałów</a>
    <a ui-sref="wygrana" id="pytanie5-button35" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">4 wydziały</a>
    <a ui-sref="przegrana" id="pytanie5-button36" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">5 wydziałów</a>
    <a ui-sref="przegrana" id="pytanie5-button43" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">3 wydziały</a>
  </ion-content>
</ion-view>