<ion-view title="pytanie2" id="page11">
  <ion-content padding="true" style="background: url(img/CaZ2vdRzREeQ6tA4dpEL_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="pytanie2-heading10" style="color:#FF5C04;font-weight:300;text-align:center;">Pytanie drugie</h1>
    <div id="pytanie2-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FF5C04;">Gdzie znajdowała sie pierwsza siedziba Akademi morskiej?</p>
    </div>
    <div>
      <img src="img/xuhzI4gtTeoVpuCJ9TuZ_amg.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="przegrana" id="pytanie2-button14" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Gdynia</a>
    <a ui-sref="przegrana" id="pytanie2-button15" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Szczecin</a>
    <a ui-sref="pytanie3" id="pytanie2-button16" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Tczew</a>
    <a ui-sref="przegrana" id="pytanie2-button18" style="border-radius:20px 20px 20px 20px;" class="button button-energized  button-block button-outline">Koszalin</a>
  </ion-content>
</ion-view>