<ion-view title="startquiaz" id="page12">
  <ion-content padding="true" style="background: url(img/FTrkg2jcSdClAUtm7eHe_stardust.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="startquiaz-heading7" style="color:#FF5C04;font-weight:300;text-align:center;">Ile wiesz o Akademi morskiej w Gdynii?</h1>
    <div>
      <img src="img/FI0XAP4tQaGO6P5xEQAg_modernizm_gdynia_dom-zeglarza-polskiego-al-jana-pawla-ii-3_fot-przemek-kozlowski-02.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="pytanie1" id="startquiaz-button24" style="font-weight:600;" class="button button-energized  button-block button-outline icon ion-android-bulb">Zacznij Quiz</a>
  </ion-content>
</ion-view>